{% extends "base.html" %} {% block title %} Cartucho de Impressora {% endblock
%} {% block content %}
<main class="page content">
  <div class="content-title">
    <b>TERMO DE CIÊNCIA DE RESPONSABILIDADE - Cartucho de Impressora</b>
  </div>
  <div class="content-main-text">
    A Empresa {{ empresa }}, situada na {{ rua_empresa }}, Bairro: {{
    bairro_empresa }}, inscrita no CNPJ: {{ cnpj_empresa }}, entrega neste ato,
    o cartucho de impressora da Marca/Modelo:
    <b class="content-hl-text">{{ cartucho }},</b> para usar na impressora de
    Marca/Modelo: <b class="content-hl-text">{{ impressora }}</b> ao
    Funcionário/Parceiro: <b class="content-hl-text">{{ name }},</b> CPF/CNPJ:
    <b class="content-hl-text">{{ cpf }},</b> doravante denominado simplesmente
    de "USUÁRIO", sob as seguintes condições:
    <div class="content-conditions">
      <p class="content-conditions-item">
        1. Se o equipamento for danificado, inutilizado por emprego inadequado,
        mau uso, negligência ou extravio do USUÁRIO, a empresa cobrará o valor
        de um equipamento da mesma marca ou equivalente ao da marca.
      </p>
    </div>
  </div>
  <div class="content-remark-text">
    {% if obs %}
    <b>Observação: </b>{{ obs }} {% endif %}
  </div>
  <div class="content-agreement-text">
    Declaro estar ciente e de acordo com as cláusulas acima.
  </div>
  <div class="content-signature-text">
    __________________________________________________________________
  </div>
  <div class="content-name-text">
    <b>{{ name }}</b>
  </div>
</main>
{% endblock %}
