{% extends "base.html" %} {% block title %} Cartucho de Impressora - Devolução
{% endblock %} {% block content %}
<main class="page content">
  <div class="content-title">
    <b>TERMO DE ENTREGA DE DISPOSITIVO - Cartucho de Impressora</b>
  </div>
  <div class="content-main-text">
    A Empresa {{ empresa }}, situada na {{ rua_empresa }}, Bairro: {{
    bairro_empresa }}, inscrita no CNPJ: {{ cnpj_empresa }}, recebe neste ato, o
    Cartucho de Impressora da Marca/Modelo:
    <b class="content-hl-text">{{ cartucho }}</b> que foi cedido para uso no
    trabalho, utilizado na impressora da Marca/Modelo:
    <b class="content-hl-text">{{ impressora }}</b> ao Funcionário/Parceiro:
    <b class="content-hl-text">{{ name }},</b> CPF/CNPJ:
    <b class="content-hl-text">{{ cpf }}.</b>
  </div>
  <div class="content-remark-text">
    {% if obs %}
    <b>Observação: </b>{{ obs }} {% endif %}
  </div>
  <div class="content-agreement-text">
    Declaro estar ciente e de acordo com as cláusulas acima.
  </div>
  <div class="content-signature-text">
    __________________________________________________________________
  </div>
  <div class="content-name-text">
    <b>{{ name }}</b>
  </div>
</main>
{% endblock %}
