<div
  style="
    text-align: center;
    font-kerning: normal;
    margin-left: 22px;
    margin-right: 21px;
    page-break-after: always;
  "
  id="footer"
>
  <table>
    <tr>
      <td
        align="center"
        width="440"
        style="font-style: italic; font-size: 11px; font-family: Arial"
      >
        $cidade_empresa$, $data$.
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <td width="440" style="border-top: 3px solid #824c4e"></td>
  </table>
  <table>
    <tr>
      <td
        align="center"
        width="440"
        style="padding-top: 5px; font-size: 10px; font-family: Arial"
      >
        <b>$empresa$</b>
      </td>
    </tr>
    <tr>
      <td
        align="center"
        width="440"
        style="font-size: 10px; font-family: Arial"
      >
        $rua_empresa$
      </td>
    </tr>
    <tr>
      <td
        align="center"
        width="440"
        style="font-size: 10px; font-family: Arial"
      >
        Fone: $fone_empresa$ – CEP $cep_empresa$ -
        $cidade_empresa$/$estado_empresa$ - $pais_empresa$
      </td>
    </tr>
  </table>
</div>
