<div
  style="
    text-align: center;
    padding-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: black;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
  "
>
  <div
    align="center"
    style="font-family: Arial; font-size: 10px; margin-bottom: 50px"
  >
    <b>TERMO DE ENTREGA DE DISPOSITIVO - Impressora</b>
  </div>

  <div
    align="justify"
    style="
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px;
      font-family: Arial;
      font-size: 10px;
      text-indent: 40px;
    "
  >
    A Empresa $empresa$, situada na $rua_empresa$, Bairro: $bairro_empresa$,
    inscrita no CNPJ: $cnpj_empresa$, recebe neste ato, a Impressora da
    Marca/Modelo:
    <b style="font-size: 11px">$impressora$,</b> Código Serial:
    <b style="font-size: 11px">$serial$,</b> e cartucho que foi cedido para uso
    no trabalho ao Funcionário/Parceiro:
    <b style="font-size: 11px">$name$,</b> CPF/CNPJ:
    <b style="font-size: 11px">$cpf$.</b>
  </div>

  <div
    align="center"
    style="
      font-size: 10px;
      font-family: Arial;
      margin-top: 20px;
      margin-bottom: 10px;
    "
  >
    $obs$
  </div>

  <div
    align="center"
    style="
      font-size: 10px;
      font-family: Arial;
      margin-top: 20px;
      margin-bottom: 80px;
    "
  >
    Declaro estar ciente e de acordo com as cláusulas acima.
  </div>

  <div align="center" style="font-size: 12px; font-family: Arial">
    __________________________________________________________________
  </div>
  <div
    align="center"
    style="font-size: 11px; font-family: Arial; margin-top: 5px"
  >
    <b>$name$</b>
  </div>
</div>
