<div
  style="
    text-align: center;
    padding-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    color: black;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
  "
>
  <div
    align="center"
    style="font-family: Arial; font-size: 10px; margin-bottom: 20px"
  >
    <b>TERMO DE CIÊNCIA DE RESPONSABILIDADE - Notebook</b>
  </div>

  <div
    align="justify"
    style="
      text-align: justify;
      margin-right: 10px;
      margin-left: 10px;
      font-family: Arial;
      font-size: 10px;
      text-indent: 40px;
    "
  >
    A Empresa $empresa$, situada na $rua_empresa$, Bairro: $bairro_empresa$,
    inscrita no CNPJ: $cnpj_empresa$, entrega neste ato, o Notebook da
    Marca/Modelo:
    <b style="font-size: 11px">$notebook$,</b> Serial do notebook:
    <b style="font-size: 11px">$serial$,</b> ao Funcionário/Parceiro:
    <b style="font-size: 11px">$name$,</b> CPF/CNPJ:
    <b style="font-size: 11px">$cpf$,</b> doravante denominado simplesmente de
    "USUÁRIO", sob as seguintes condições:
    <div style="margin-top: 15px">
      <p style="text-indent: 40px; margin-bottom: 5px">
        1. O equipamento deverá ser utilizado unicamente e exclusivamente a
        serviço da empresa, tendo em vista a atividade a ser exercida pelo
        USUÁRIO;
      </p>
      <p style="text-indent: 40px; margin-bottom: 5px">
        2. O USUÁRIO ficará responsável pelo uso e conservação do equipamento;
      </p>
      <p style="text-indent: 40px; margin-bottom: 5px">
        3. O USUÁRIO tem somente a detenção, tendo em vista o uso exclusivo para
        prestação de serviços profissionais e não a propriedade do equipamento,
        sendo terminantemente proibido o empréstimo, aluguel ou cessão deste a
        terceiros;
      </p>
      <p style="text-indent: 40px; margin-bottom: 5px">
        4. O término da prestação de serviço ou do contrato individual de
        trabalho, o USUÁRIO compromete-se a devolver o equipamento em perfeito
        estado no mesmo dia em que for comunicado ou comunique seu desligamento,
        considerando o desgaste natural pelo uso normal do equipamento;
      </p>
      <p style="text-indent: 40px; margin-bottom: 5px">
        5. Fica proibido ao USUÁRIO o uso do notebook para navegação na internet
        (que não seja relacionada a empresa), softwares não corporativos e
        qualquer tipo de comunicação que não seja a respeito da empresa. Caso
        contrário, será cobrado uma taxa de R$ 100,00;
      </p>
      <p style="text-indent: 40px; margin-bottom: 5px">
        6. Os softwares que serão liberados ao uso para o USUÁRIO, poderão ser
        livremente utilizados da seguinte forma: ERPs, WhatsApp, Pacote Office e
        softwares de uso corporativo em geral.
        <b
          >Porém, caso seja identificado a utilização do notebook com a recepção
          e/ou envio de vídeos e/ou fotos de conteúdo impróprio, será aplicado
          advertência, reiterando ao referido fato, o funcionário poderá ser
          dispensado por justa causa;</b
        >
      </p>
      <p style="text-indent: 40px; margin-bottom: 5px">
        7. Se houver o uso indevido, fica ao USUÁRIO como responsável pelo
        incidente;
      </p>
      <p style="text-indent: 40px; margin-bottom: 10px">
        8. Se o equipamento for danificado, inutilizado por emprego inadequado,
        mau uso, negligência ou extravio do USUÁRIO, a empresa cobrará o valor
        de um equipamento da mesma marca ou equivalente ao da marca. Valor este
        estipulado em conforme com o valor pago na compra do notebook.
      </p>
    </div>
  </div>

  <div
    align="center"
    style="font-size: 10px; font-family: Arial; margin-bottom: 10px"
  >
    $obs$
  </div>

  <div
    align="center"
    style="font-size: 10px; font-family: Arial; margin-bottom: 55px"
  >
    Declaro estar ciente e de acordo com as cláusulas acima.
  </div>

  <div align="center" style="font-size: 12px; font-family: Arial">
    __________________________________________________________________
  </div>
  <div
    align="center"
    style="font-size: 11px; font-family: Arial; margin-top: 5px"
  >
    <b>$name$</b>
  </div>
</div>
